.turisemana {
    &__body {
        margin-top: 40px;
        margin-bottom: 60px;
        // display: flex;
        // gap: 40px;
        @media(min-width: breakpoints('ipad-grande')) {
            display: grid;
            grid-template-columns: 250px auto;
            gap: 40px;
        }
    }
    .turisemanaFilters {
        .ordery-mobile {
            @media(min-width: breakpoints('ipad-grande')) {
                display: none;
            }
        }
    }
    .turisemanaContent {
        flex: auto;
        .ctm-flight__rst-info {
            justify-content: flex-end;
            margin-top: 0;
            display: none;
            @media(min-width: breakpoints('ipad-grande')) {
                display: flex;
            }
            input[type="text"] {
                padding: 25px 30px 10px 10px;
            }
        }
        &__house {
            border: 1px solid color('secondary-light');
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            // gap: 15px;
        }
        .description {
            width: 100%;
            @media(min-width: breakpoints('ipad-grande')) {
                display: flex;
                gap: 10px;
            }
            .swiperTurisemana {
                width: 100%;
                @media(min-width: breakpoints('ipad-grande')) {
                    max-width: 280px;
                    max-height: 280px;
                }
                // .swiperTurisemana {
                //     &.swiper {
                //         width: 100%;
                //         height: 100%;
                //     }
                
                //     .swiper-slide {
                //         text-align: center;
                //         font-size: 18px;
                //         background: #fff;
                
                //         /* Center slide text vertically */
                //         display: -webkit-box;
                //         display: -ms-flexbox;
                //         display: -webkit-flex;
                //         display: flex;
                //         -webkit-box-pack: center;
                //         -ms-flex-pack: center;
                //         -webkit-justify-content: center;
                //         justify-content: center;
                //         -webkit-box-align: center;
                //         -ms-flex-align: center;
                //         -webkit-align-items: center;
                //         align-items: center;
                //     }
                
                //     .swiper-slide img {
                //         display: block;
                //         width: 100%;
                //         height: 100%;
                //         object-fit: cover;
                //     }
    
                //     .swiper-button-next,
                //     .swiper-button-prev {
                //         width: 3rem;
                //         height: 3rem;
                //         border-radius: 5px;
                //         box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
                //         background-color: color('white');
                //         &::before,
                //         &::after {
                //             content: '';
                //             display: block;
                //             width: 1rem;
                //             height: 2px;
                //             background-color: color('primary');
                //             position: absolute;
                //             left: 50%;
                //         }
                //         &::before {
                //             top: 37%;
                //             transform: translateX(-50%) rotate(45deg);
                //         }
                //         &::after {
                //             top: 58%;
                //             transform: translateX(-50%) rotate(-45deg);
                //         }
                //     }
                //     .swiper-button-prev {
                //         transform: scaleX(-1);
                //     }
                // }
            }
            .valoration {
                padding: 10px 0;
            }
            &__info {
                padding: 2rem 1rem 0;
                @media(min-width: breakpoints('ipad-grande')) {
                    padding: 2rem 3rem 0 0;
                }
                h2 {
                    font-size: 1.6rem;
                    color: color('primary');
                    font-weight: bold;
                    @media(min-width: breakpoints('ipad-grande')) {
                        font-size: 2rem;
                    }
                }
                .infoUbication {
                    display: flex;
                    align-items: center;
                    &__img {
                        width: 20px;
                        height: 20px;
                        background-image: url('../assets/icons/location.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-right: 2px;
                    }
                    p {
                        font-size: 1.4rem;
                        color: color('primary');
                        font-weight: 500;
                    }
                }
                .infoContent {
                    margin-top: 1rem;
                    &__btn {
                        a {
                            font-size: 1.4rem;
                            color: color('primary');
                            font-weight: 700;
                        }
                        @media(min-width: breakpoints('ipad-grande')) {
                            display: none;
                        }
                    }
                    p {
                        font-size: 1.2rem;
                        color: color('primary');
                        font-weight: 400;
                        line-height: 1.6rem;
                        @media(min-width: breakpoints('ipad-grande')) {
                            display: block;
                            height: auto;
                        }
                    }
                }
            }
        }
        .availability {
            // width: 100%;
            border-top: 2px solid color('grayLine');
            margin: 0 1rem;
            @media(min-width: breakpoints('ipad-grande')) {
                border: none;
                border-radius: 5px;
                margin: 1.5rem 2rem;
                border: 1px solid color('secondary-light');
            }
            &__typeContent {
                padding: 1.5rem 0;
                @media(min-width: breakpoints('ipad-grande')) {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 1rem 1.5rem;
                }
            }
            &__containerTitles {
                display: none;
                @media(min-width: breakpoints('ipad-grande')) {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    background-color: color('secondary-light');
                    padding: 1rem;
                }
                .availabilityTitles {
                    @media(min-width: breakpoints('ipad-grande')) {
                        padding: 1rem 0;
                    }
                    h3 {
                        font-size: 1.2rem;
                        color: color('primary');
                        font-weight: 700;
                        text-align: center;
                        line-height: 1.6rem;
                        margin-bottom: 3px;
                        @media(min-width: breakpoints('ipad-grande')) {
                            margin-bottom: 0;
                        }
                    }
                    p {
                        font-size: 1.2rem;
                        color: color('primary');
                        font-weight: 400;
                        text-align: center;
                        line-height: 1.6rem;
                    }
                    &:nth-child(2) {
                        border-left: 1px solid color('grayBlue');
                        border-right: 1px solid color('grayBlue');
                    }
                }
            }
            .typeUnit {
                position: relative;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,auto);
                margin-bottom: 1.5rem;
                padding-bottom: 1.5rem;
                @media(min-width: breakpoints('ipad-grande')) {
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: 1fr;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                &::after {
                    content: "";
                    display: block;
                    width: calc(100% - 2rem);
                    background-color: color('gray00');
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    @media(min-width: breakpoints('ipad-grande')) {
                        display: none;
                    }
                }
                // &:first-of-type {
                //     padding-top: 2rem;
                // }
                &:last-of-type {
                    // @media(min-width: breakpoints('ipad-grande')) {
                    //     padding-bottom: 1.5rem;
                    // }
                    margin-bottom: 0;
                    padding-bottom: 0;
                    &::after {
                        display: none;
                    }
                }
                h3 {
                    font-size: 1.4rem;
                    color: color('primary');
                    font-weight: 700;
                }
                p {
                    font-size: 1.2rem;
                    color: color('primary');
                    font-weight: 400;
                    @media(min-width: breakpoints('ipad-grande')) {
                        font-size: 1.4rem;
                    }
                }
                input[type=radio] {
                    display: none;
                    background-color: color('white');
                    border: 2px solid color('primary');
                    @media(min-width: breakpoints('ipad-grande')) {
                        display: flex;
                        margin-right: 1rem;
                    }
                    &:checked {
                        background-color: color('primary');
                    }
                }
                &__info {
                    @media(min-width: breakpoints('ipad-grande')) {
                        margin-bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1.5rem 0;
                    }
                }
                &__description {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 5px 0;
                        @media(min-width: breakpoints('ipad-grande')) {
                            margin: 0;
                        }
                    }
                }
                .typeOption {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    @media(min-width: breakpoints('ipad-grande')) {
                        grid-column: auto;
                        grid-row: auto;
                        justify-content: flex-start;
                    }
                }
                .availabilityOption {
                    margin-bottom: 5px;
                    @media(min-width: breakpoints('ipad-grande')) {
                        border-left: 1px solid color('grayLine');
                        border-right: 1px solid color('grayLine');
                        margin-bottom: 0;
                    }
                }
                .priceOption {
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    @media(min-width: breakpoints('ipad-grande')) {
                        grid-column: auto;
                        grid-row: auto;
                        align-items: center;
                        justify-content: center;
                    }
                    .btn {
                        @media(min-width: breakpoints('ipad-grande')) {
                            background-color: transparent;
                            color: color('primary');
                            font-size: 1.2rem;
                            color: color('primary');
                            font-weight: 500;
                            box-shadow: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .btnHouse {
            display: none;
            @media(min-width: breakpoints('ipad-grande')) {
                display: flex;
                justify-content: flex-end;
                padding: 0 2rem 2rem;
            }

        }
    }
}

#contentDinamic {
    .turisemanaFilters {
        .toggleTurisemana {
            &.ctm-flight__filters {
                width: 100%;
                margin: 2rem auto 0;
            }
        }
    }
}