.filter {
    max-width: 140px;
    min-width: 50px;
    @include flex($ai: normal);
    padding: 3px 6px;
    gap: 5px;
    background: #B5D3E3;
    border: 1px solid color('primary');
    border-radius: 100px;

    p {
        font-weight: 500;
        color: color('primary');
        font-size: 1.4rem;
    }

    button {
        @include restart_button();
        background: transparent;
        @include flex($ai: end);
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }
    }

}


.cars-search {
    width: 100%;
    height: 100px;
    background: color('primary');
    border-radius: 0px 0px 20px 20px;
}

.cars-search-general {
    margin-left: 150px;
    width: calc(100% - 100px);
    @include flex($ai: flex-start);
}

.cars-left {
    min-width: 260px;
    width: 20%;
    height: 100vh;
    @include flex();

    &__cont {
        width: 90%;
        height: 98%;
        background: color('white');

        h2 {
            font-weight: 800;
            font-size: 2rem;
            color: color('primary');
        }

        h3{
            font-weight: 800;
            font-size: 1.6rem;
            color: color('primary');
            margin-bottom: 10px;
        }

        &--filter {
            @include flex($jc:flex-start);
            margin-top: 10px;
            width: 100%;
            gap: 5px;
        }

        &--checks{
            width: 100%;
            height: auto;

            &--item{
                @include flex($jc: flex-start);
                gap: 15px;

                p{
                    font-weight: 500;
                    font-size: 1.4rem;
                    color: color('primary');
                }
            }
        }
    }
}

hr {
    width: 100%;
    height: 2px;
    background: #cccccc;
    margin: 20px 0px;
}

.cars-right {
    padding: 0px 10px;
    width: 80%;
}

.convenciones {
    width: 100%;
    min-height: 113px;
    background: color('gray00');
    margin-bottom: 10px;

    &-cont {
        padding: 10px 0px;

        h5 {
            margin-bottom: 7px;
            font-weight: 500;
        }

        &__data {
            width: 100%;
            @include flex($jc: flex-start);
            flex-wrap: wrap;
            gap: 7px;

            span {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 2px 9px 2px 6px;
                gap: 5px;
                min-width: 100px;
                height: 28px;
                background: #B5D3E3;
                border: 1px solid #1A4A8C;
                border-radius: 100px;

                font-size: 1.2rem;
                color: color('primary');
                font-weight: 500;
            }
        }
    }
}

.cars-filter {
    margin: 30px 0px;

    .acordeon {
        background-color: color('gray00');

        .panel {
            padding: 10px 0px;

            h5 {
                font-weight: 500;
            }

            button {
                @include restart_button();
                background-color: transparent;
                transition: all 0.5s ease;
            }

            .rotate {
                transform: rotate(180deg)
            }
        }
    }

    &__left {
        @include flex();
        gap: 7px;
    }

    &__data {
        width: 100%;

        .swiperCar {
            //background: red;
            width: 100%;
            height: auto;
            padding: 10px 4vw;

            &-wrapper {

                &__slide {
                    //background-color: #1A4A8C;
                    width: 326px !important;
                    @include flex();
                }
            }

            .btn-next-car,
            .btn-prev-car {
                width: 30px;
                height: 30px;
                padding: 10px;
                background: color('secondary');
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.25);
                border-radius: 5px;

                &::after {
                    display: none;
                }
            }
        }
    }

    .card-car {
        width: 95%;
        margin: 0px auto;
        min-height: 300px;
        border: 1px solid #DEF3FF;
        border-radius: 5px;

        &__img {
            @include flex();
        }

        &__name {
            @include flex($jc: space-between);
            padding: 0px 10px;
        }

        &__items {
            padding: 0px 10px;
            width: 100%;
            margin-top: 15px;
            @include flex($jc: space-between);
            gap: 2.5px;

            span {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3px;
                gap: 5px;
                min-width: 52px;
                height: 28px;
                background: #B5D3E3;
                border: 1px solid #1A4A8C;
                border-radius: 100px;

                font-size: 1.2rem;
                color: color('primary');
                font-weight: 500;
            }
        }

        &__data {
            padding: 15px 10px;
            margin-top: 16px;
            background: color('secondary-light');

            h4 {
                opacity: 0.6;
            }

            h2 {
                @include flex($jc: flex-start);
                gap: 5px;
                margin: 5px 0px 10px 0px;
                font-weight: 800;

                span {
                    color: color('primary');
                    font-size: 1.2rem;
                    opacity: 0.3;
                }
            }

            &--actions {
                width: 100%;
                @include flex($jc: space-between);

                button:first-child {
                    cursor: pointer;
                    padding: 10px 20px;
                    background: color('secondary');
                    outline: none;
                    border: none;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
                    border-radius: 10px;

                    h5 {
                        color: color('white');
                        font-weight: 700;
                    }
                }

                button:last-child {
                    cursor: pointer;
                    padding: 10px 25px;
                    background: color('secondary');
                    outline: none;
                    border: 2px solid color('primary');
                    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
                    border-radius: 10px;
                    background: color('secondary-light');

                    h5 {
                        font-weight: 700;
                        color: color('primary')
                    }
                }
            }
        }
    }
}

@media (max-width: breakpoints('ipad-grande')) {

    .cars-search-general {
        margin: 0;
        width: 100%;
        @include flex($ai: flex-start);
    }

    .cars-left {
        display: none;
    }

    .cars-right {
        width: 100%;
    }

}

@media (max-width: breakpoints('')) {

    .cars-left {
        display: none;
    }

    .cars-right {
        width: 100%;
    }
}