.filter {

    p {
        font-weight: 500;
        color: color('primary');
        font-size: 1.4rem;
    }

    button {
        @include restart_button();
        background: transparent;
        @include flex($ai: flex-end);
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }
    }

}

.cars-search {
    position: fixed;
    top: 65px;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100px;
    background: color('primary');
    border-radius: 0px 0px 20px 20px;
    display: none;
}

.cars-filter-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 80px;
    background: color('white');
    @include flex();
    display: none;

    &__cont {
        gap: 30px;
        @include flex();
        &--btn {
            @include flex();
            gap: 10px;
        }

        &--number {
            .chip {
                @include flex();
                min-width: 24px;
                width: 24px;
                height: 24px;
                border-radius: 100%;
            }
        }
    }
}

.cars-search-desk {
    position: absolute;
    z-index: 10;
    top: -45px;
    width: 94%;
    height: 100px;
    background: color('primary');
    border-radius: 10px;
}

.cars-search-general {
    padding-top: 60px;
    @include flex($ai: flex-start);
}

.cars-left {
    min-width: 260px;
    width: 20%;
    height: 100vh;
    @include flex();

    &__cont {
        width: 90%;
        height: 98%;
        background: color('white');

        h2 {
            font-weight: 800;
            font-size: 2rem;
            color: color('primary');
        }

        h3 {
            font-weight: 800;
            font-size: 1.6rem;
            color: color('primary');
            margin-bottom: 10px;
        }

        &--filter {
            @include flex($jc: flex-start);
            margin-top: 10px;
            width: 100%;
            flex-wrap: wrap;
            gap: 5px;
        }

        &--checks {
            width: 100%;
            height: auto;

            &--item {
                display: flex;
                justify-content: flex-start !important;
                align-items: center;
                gap: 15px;

                label {
                    font-weight: 500;
                    font-size: 1.4rem;
                    color: color('primary');
                }
            }
        }
    }
}

hr {
    width: 100%;
    height: 2px;
    background: #cccccc;
    margin: 20px 0px;
    border: none;
}

.cars-right {
    width: 80%;
}

.convenciones {
    width: 100%;
    min-height: 113px;
    background: color('gray00');
    margin-bottom: 10px;

    &-cont {
        padding: 10px 0px;

        h5 {
            margin-bottom: 7px;
            font-weight: 500;
        }

        &__data {
            width: 100%;
            @include flex($jc: flex-start);
            flex-wrap: wrap;
            gap: 7px;

            span {
                font-size: 1.2rem;
                color: color('primary');
                font-weight: 500;
            }
        }
    }
}

.cars-filter {
    margin: 30px 0px;

    &:nth-child(2) {
        position: relative;
        z-index: 8;
    }

    &:nth-child(3) {
        position: relative;
        z-index: 7;
    }

    .acordeon {
        background-color: color('gray00');

        .panel {
            padding: 10px 0px;

            h5 {
                font-weight: 500;
            }

            button {
                @include restart_button();
                background-color: transparent;
                transition: all 0.5s ease;
            }

            .rotate {
                transform: rotate(180deg)
            }
        }
    }

    &__left {
        @include flex();
        gap: 7px;
    }

    &__data {
        width: 100%;

        .swiperCar {
            //background: red;
            width: 100%;
            height: auto;
            padding: 10px 4vw;
            overflow-x: clip;
            overflow-y: initial;


            &-wrapper {

                &__slide {
                    min-width: 170px;
                    //background-color: #1A4A8C;
                    @include flex();
                }
            }

            .btn-next-car,
            .btn-prev-car {
                width: 30px;
                height: 30px;
                padding: 10px;
                background: color('secondary');
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.25);
                border-radius: 5px;

                &::after {
                    display: none;
                }
            }
        }
    }

}

.card-car {
    display: none;
    width: 95%;
    margin: 0px auto;
    min-height: 300px;
    border: 1px solid #DEF3FF;
    border-radius: 5px;

    &__img {
        @include flex();
    }

    &__name {
        @include flex($jc: space-between);
        padding: 0px 10px;
    }

    &__items {
        padding: 0px 10px;
        width: 100%;
        margin-top: 15px;
        @include flex($jc: space-between);
        gap: 2.5px;

        img {
            width: 15px;
            height: 15px;
        }
    }

    &__data {
        padding: 15px 10px;
        margin-top: 16px;
        background: color('secondary-light');

        h4 {
            opacity: 0.6;
        }

        h2 {
            @include flex($jc: flex-start);
            gap: 5px;
            margin: 5px 0px 10px 0px;
            font-weight: 800;

            span {
                color: color('primary');
                font-size: 1.2rem;
                opacity: 0.3;
            }
        }

        &--actions {
            width: 100%;
            @include flex($jc: space-between);

            button:first-child {
                cursor: pointer;
                padding: 10px 20px;
                background: color('secondary');
                outline: none;
                border: none;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
                border-radius: 10px;

                h5 {
                    color: color('white');
                    font-weight: 700;
                }
            }

            button:last-child {
                cursor: pointer;
                padding: 10px 25px;
                background: color('secondary');
                outline: none;
                border: 2px solid color('primary');
                filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
                border-radius: 10px;
                background: color('secondary-light');

                h5 {
                    font-weight: 700;
                    color: color('primary')
                }
            }
        }
    }
}

.card-car-mobile {
    padding: 15px 13px;
    min-width: 170px;
    height: 200px;
    text-align: right;
    border: 1px solid #DEF3FF;
    border-radius: 5px;
    z-index: 5;
    @include transition();

    &__img {
        margin-bottom: 8px;
        width: 100%;
        @include flex($jc: flex-start)
    }

    &__name {
        width: 100%;
        @include flex();

        h4 {
            font-size: 1.2rem;
            color: color('primary');
            font-weight: 400;
        }
    }

    hr {
        height: 2px;
        background-color: color('gray00');
        border: none;
    }

    span {
        font-weight: 400;
        font-size: 1.2rem;
        color: color('primary');
        opacity: 0.3;
    }

    h5 {
        font-weight: 800;
    }

    .price-txt {
        font-weight: 400;
        font-size: 1.2rem;
        color: color('primary');
        opacity: 0.6;
    }

    &__select {
        width: 100%;
        padding: 10px;
        @include flex();

        h5 {
            color: color('secondary') !important;
            font-weight: 700 !important;
        }
    }

    &__hover {
        z-index: 100;
        top: 100%;
        width: 340px;
        position: absolute;
        left: 4vw;
        padding: 20px 15px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 0px 5px 5px 5px;
        background: color('white');
        display: none;
        @include transition();



        &--img {
            @include flex();
            width: 100%;
        }

        &--icons {
            width: 100%;
            margin-top: 15px;
            @include flex($jc: space-between);
            gap: 2.5px;

            span {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3px;
                gap: 5px;
                min-width: 52px;
                height: 28px;
                background: #B5D3E3;
                border: 1px solid #1A4A8C;
                border-radius: 100px;
                opacity: 1;
                font-size: 1.2rem;
                color: color('primary');
                font-weight: 500;
            }
        }

        &--actions {
            margin-top: 10px;
            width: 100%;
            @include flex($jc: space-between);

            .btn {
                border: none;
            }
        }
    }

    &:hover {
        border: 1px solid #1A4A8C;

        .card-car-mobile__hover {
            border: 1px solid #1A4A8C;
            display: block;
        }
    }
}

@media (max-width: breakpoints('ipad-grande')) {

    .cars-search-desk {
        display: none;
    }

    .cars-search {
        display: block;
    }

    .cars-filter-btn{
        display: flex;
    }

    .cars-search-general {
        margin: 0;
        width: 100%;
        @include flex($ai: flex-start);
    }

    .cars-left {
        display: none;
    }

    .cars-right {
        width: 100%;
        padding: 0;
    }

    .card-car {
        display: block !important;
    }

    .card-car-mobile {
        display: none;
    }

    .swiperCar {

        &-wrapper {
            &__slide {
                width: 326px !important;
            }
        }
    }

}