.header{
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 20px 0 80px 0;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #1A4A8C -3.27%, rgba(0, 189, 214, 0.33) 100%);
    }
    &-logo{
        transition: .3s opacity ease;
        position: relative;
        z-index: 9;
    }
    .ctn{
        position: relative;
        z-index: 999;
        @include flex($jc: space-between);
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            gap: 30px;
        }
        a{
            color: color('white');
            font-size: 1.6rem;
            font-weight: 700;
            position: relative;
            &::after{
                @include before_hover();
            }
            &:hover,
            &.active{
                &::after{
                    width: 100%;
                    right: unset;
                    left: 0;
                }
            }
        }
    }
    &-hamburger{
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 9;
        div{
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: color('white');
            @include transition($td: .5s);
            &:nth-child(2){
                top: calc(50% - 1px);
            }
            &:last-child{
                bottom: 0;
            }
        }
        &.enable{
            div{
                background-color: color('primary');
                &:first-child{
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                }
                &:nth-child(2){
                    width: 0;
                }
                &:last-child{
                    top: calc(50% - 1px);
                    bottom: unset;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .ctm-block{
        position: relative;
        z-index: 99;
        @include flex;
        flex-direction: column;
        top: calc(50% - 100px);
        width: 90%;
        max-width: 510px;
        text-align: center;
        margin: auto;
        display: none;
    }
}

//VALIDACION HEADER HOME

body.enable{
    .header{
        height: 500px;
        .ctm-block{
            display: flex;
        }
    }
}

@media(max-width: breakpoints('ipad-grande')){
    .header{
        padding: 20px 0;
        min-height: 72px;
        nav{
            display: none;
        }
        &-hamburger{
            display: flex;
        }
        &.scroll{
            .ctn{
                z-index: 999;
                &::before{
                    opacity: 1;
                }
            }    
        }
        .ctn{
            position: fixed;
            left: calc(50% - 45%);
            &::before{
                position: absolute;
                content: "";
                left: -25%;
                top: -50px;
                width: 150%;
                height: 100px;
                background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.56) 55%, rgba(0,0,0,0.16) 85%, rgba(0,0,0,0) 100%);
                transition: .3s opacity ease;
                opacity: 0;
            }  
        }
    }
    body.enable{
        .header{
            .ctn{
                justify-content: center;
                position: relative;
                left: unset;
                &::before{
                    width: 100%;
                    opacity: 0 !important;
                }
            }
            .header-hamburger{
                display: none;
            }
        }
    }
    
}