//PALETA DE COLORES
$palette:(
  'white': #fff,
  'primary': #1A4A8C,
  'secondary': #00BDD6,
  'secondary-light': #DEF3FF,
  'tertiary': #486EA3,
  'quartiary': #486EA3,
  'grayBlue': #559FC7,
  'gray': #4D4D4D,
  'gray00': #F7F7F7,
  'grayDark': #EAEAEA,
  'gray02': #999999,
  'cian':#DEF3FF,
  'error': #E92222,
  'succes': #0EEA24,
  'black': #000,
  'grey-dark': #222222,
  'grey': #333333
);

//BREAKPOINTS

$breakpoints: (
  'desktop': 1440px,
  'portatil': 1280px,
  'portatil-pequeño': 1100px,
  'ipad-grande': 992px,
  'ipad-pequeña': 768px,
  'celular': 576px
);

//OTHERS

$transition-duration: 0.3s;
$limit-width: 1400px;