@mixin restart_button ($o: inherit, $b: none){
    outline: $o;
    border: $b;
}

@mixin restart_input ($o: inherit, $b: none, $bg: transparent){
    outline: $o;
    border: $b;
    background-color: $bg;
}

@mixin transition ($td: 0.3s, $p: all, $ta: ease){
    transition: $td $p $ta;
}

@mixin restarLink ($td: none, $color: color('primario')){
    text-decoration: $td;
    color: $color;
}

@mixin flex ($dp: flex, $jc: center, $ai: center){
    display: $dp;
    justify-content: $jc;
    align-items: $ai;
}

@mixin restart_li ($ls: none){
    list-style: $ls;
}

// MEDIAQUERIES
@mixin mq($media: mob, $type: max){
	@if type-of($media) == number {
		@if unitless($media) {
			@media only screen and (#{$type}-width: $media + px){
				@content;
			}
		}
	} @else {
		@if type-of(map-get($mediaqueries, $media)) == number {
			@media only screen and (#{$type}-width: map-get($mediaqueries, $media) + px){
				@content;
			}
		} @else if type-of(map-get($mediaqueries, $media)) == string {
			@media #{map-get($mediaqueries, $media)}{
				@content;
			}
		}
	}
}