.acordeon .panel {
    display: flex;
    justify-content: space-between;
}


.acordeon .data {
    background: color('white');
}

.data{
    transition: all 0.5s ease;
}

.hideData {
    display: none;
}