.chip {
    display: flex;
    align-items: center;
    padding: 2px 9px;
    gap: 5px;
    width: fit-content;
    background: #B5D3E3;
    border: 1px solid color('primary');
    border-radius: 100px;
    color: color('primary');
    p{
        font-size: 1.3rem;
        font-weight: 500
    }
    button{
        @include restart_button();
        background: transparent;
        @include flex($ai: flex-end);
        cursor: pointer;
        img{
            width: 16px;
            height: 16px;
            transition: .3s ease transform;
        }
        &:hover{
            img{
                transform: rotate(90deg);
            }
        }
    }
    &-secondary{
        border: 1px solid color('primary');
        color: color('primary');
    }
}