.input-custom{
    input[type="text"]{
        width: 100%;
        @include restart_input;
        background-color: color('white');
        border-radius: 5px;
        border: 1.5px solid color('primary');
        padding: 22.5px 10px 7.5px 35px;
        color: color('primary');
        font-size: 1.4rem;
        transition: .3s all ease;
        position: relative;
        &::placeholder{
            color: color('quartiary');
            opacity: .4;
            margin-top: 100px;
        }
        &:focus{
            border-color: color('primary');
        }
    }
    input[type="number"]{
        border: none;
        pointer-events: none;
        width: 30px;
        font-size: 1.6rem;
        color: color('primary');
        text-align: center;
        &::-webkit-inner-spin-button{
            appearance: none;
        }
    }
    input[type="radio"]{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background-color: transparent;
        border: 2px solid color('white');
        transition: .3s all ease;
        position: relative;
        @include flex;
        &:checked{
            background-color: color('white');
            &::before{
                opacity: 1;
            }
        }
        &::before{
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 100px;
            background-color: color('grayBlue');
            opacity: 0;
        }
    }
    input[type="checkbox"]{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 2px solid color('white');
        position: relative;
        @include flex;
        transition: .3s background-color ease;
        &:checked{
            background-color: color('white');
            &::before{
                opacity: 1;
            }
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url('../assets/icons/icon-check.svg');
            width: 12px;
            height: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transition: .3s opacity ease;
        }
    }
    input[type="checkbox"],
    input[type="radio"],
    input[type="text"]{
        font-weight: 500;
    }
    &__select{
        position: relative;
        z-index: 9;
        @include flex;
        &::after{
            position: absolute;
            content: "";
            right: 15px;
            width: 13px;
            height: 7px;
            background-image: url('../assets/icons/icon-select.svg');
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 9;
            transition: .3s ease transform;
        }
        &.active,
        &.show-options{
            &::after{
                transform: rotateX(180deg);
            }
            .options{
                opacity: 1;
                height: 150px;
                pointer-events: all;
            }
        }
        &.hidden{
            &::after{
                transform: rotate(0deg);
            }
            .options{
                opacity: 0;
                pointer-events: none;
                height: 0;
            }
        }
        input[type="text"]{
            background-color: transparent;
            padding: 15px 10px 15px 10px;
            border-color: color('primary');
            font-weight: 500;
        }
        .options{
            position: absolute;
            width: 100%;
            background-color: color('white');
            border: 1.5px solid color('primary');
            border-radius: 5px;
            top: calc(100% + 5px);
            height: 0;
            opacity: 0;
            pointer-events: none;
            overflow: auto;
            padding: 10px 0;
            transition: 1s ease;
            transition-property: opacity, height;
        }
        .options option{
            color: color('primary');
            font-size: 1.4rem;
            padding: 10px 20px;
            &:hover{
                font-weight: 500;
                background-color: color('secondary-light');
            }
        }
    }
    &__checkbox,
    &__radio,
    &__submit,
    &__checkbox--blue{
        @include flex;
        gap: 10px;
    }
    &__submit{
        width: 100%;
        justify-content: center;
    }
    &__checkbox,
    &__checkbox--blue{
        padding-right: 20px;
        label{
            color: color('white');
            font-size: 1.6rem;
        }
    }
    &__checkbox--blue{
        label{
            color: color('primary');
        }
        input[type="checkbox"]{
            border-color: color('primary');
            &:checked{
                background-color: color('primary');
            }
            &:before{
                filter: hue-rotate(60deg) brightness(1000000%);
            }
        }
    }
    &__radio{
        position: relative;
        padding-right: 20px;
        label{
            color: color('white');
            font-size: 1.6rem;
        }
    }
    &__block{
        position: relative;
        width: 25%;
        .error-message{
            color: color('error');
            font-size: 1.2rem;
            padding: 5px 0 0 5px;
            display: none;
            position: absolute;
            bottom: -20px;
        }
        &:nth-child(4){
            &::before{
                content: "";
                width: 12px;
                height: 12px;
                @include flex;
                position: absolute;
                left: -25px;
                top: calc(50% - 14px);
                background-image: url('../assets/icons/icon-repeat.svg');
                background-size: 60%;
                background-repeat: no-repeat;
                background-position: center;
                background-color: color('white');
                border: 1px solid color('primary');
                z-index: 99;
                border-radius: 5px;
                padding: 7.5px;
            }
        }
    }
    &__calendar{
        width: 15%;
    }
    &__ctn{
        @include flex($jc: flex-start);
    }

    &__item{
        position: relative;
        @include flex;
        img{
            position: absolute;
            left: 8px;
        }
        label{
            position: absolute;
            font-size: 1.2rem;
            top: 5px;
            left: 35px;
            color: color('primary');
            z-index: 9;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url('../assets/icons/icon-danger.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 30px;
            height: 20px;
            z-index: 9;
            right: 0;
            opacity: 0;
        }
    }
    &__options{
        display: flex;
        gap: 5px;
        width: 100%;
    }
    &__no-write{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: transparent;
            left: 0;
            top: 0;
            z-index: 99;
        }
    }
}
//OPCIONES DE AÑADIR NIÑOS
.input-childs{
    position: relative;
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    // margin-bottom: 20px;

    .childs-select{
        &:last-child{
            margin-bottom: 20px;
        }
    }
    .input-custom__select.index{
        z-index: 8;
    }
}

@media(max-width:breakpoints('ipad-grande')){
    .input-custom{
        &__ctn{
            flex-wrap: wrap;
            gap: 10px;
        }
        &__options{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__block{
            width: calc(50% - 2.5px);
        }
    }
    .input-custom{
        &__block{
            &:nth-child(4){
                &::before{
                    display: none;
                }
            }
        }
    }
}

@media(max-width:breakpoints('celular')){
    .input-custom{
        &__block{
            width: 100%;
            &:nth-child(4){
                &::before{
                    left: unset;
                    top: -20px;
                    right: 20px;
                }
            }
        }
        &__calendar{
            width: calc(50% - 2.5px);
        }
    }
}