.input-custom{
    input[type="text"]{
        width: 100%;
        @include restart_input;
        background-color: color('white');
        border-radius: 5px;
        border: 1.5px solid color('white');
        padding: 22.5px 10px 7.5px 35px;
        color: color('primary');
        font-size: 1.4rem;
        transition: .3s all ease;
        position: relative;
        &::placeholder{
            color: color('quartiary');
            opacity: .4;
            margin-top: 100px;
        }
        &:focus{
            border-color: color('primary');
        }
    }
    input[type="radio"]{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background-color: transparent;
        border: 2px solid color('white');
        transition: .3s all ease;
        position: relative;
        @include flex;
        &:checked{
            background-color: color('white');
            &::before{
                opacity: 1;
            }
        }
        &::before{
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 100px;
            background-color: color('grayBlue');
            opacity: 0;
        }
    }
    input[type="checkbox"]{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 2px solid color('white');
        position: relative;
        @include flex;
        transition: .3s background-color ease;
        &:checked{
            background-color: color('white');
            &::before{
                opacity: 1;
            }
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url('../assets/icons/icon-check.svg');
            width: 12px;
            height: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transition: .3s opacity ease;
        }
    }
    &__checkbox,
    &__radio,
    &__submit{
        @include flex;
        gap: 10px;
    }
    &__submit{
        width: 100%;
        justify-content: center;
    }
    &__checkbox{
        padding-right: 20px;
        label{
            color: color('white');
            font-size: 1.6rem;
        }
    }
    &__radio{
        position: relative;
        padding-right: 20px;
        label{
            color: color('white');
            font-size: 1.6rem;
        }
    }
    &__block{
        position: relative;
        .error-message{
            color: color('error');
            font-size: 1.2rem;
            padding: 5px 0 0 5px;
            display: none;
            position: absolute;
            bottom: -20px;
        }
    }
    &__ctn{
        @include flex($jc: flex-start);
    }

    &__item{
        position: relative;
        @include flex;
        img{
            position: absolute;
            left: 8px;
        }
        label{
            position: absolute;
            font-size: 1.2rem;
            top: 5px;
            left: 35px;
            color: color('primary');
            z-index: 9;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url('../assets/icons/icon-danger.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 30px;
            height: 20px;
            z-index: 9;
            right: 0;
            opacity: 0;
        }
    }
    &__options{
        display: flex;
        gap: 5px;
    }

    //error
    &__block.error{
        input{
            border-color: color('error');
        }
        label{
            color: color('error');
        }
        .error-message{
            display: block;
        }
        .input-custom__item::before{
            opacity: 1;
        }
    }
}